._container{
    display: flex;
    flex-wrap: wrap;
    ._block{
        @media (max-width: 768px) {
            flex-grow: 1;
            flex-basis: 100%;
            flex-shrink: 1;
        }
        @media (min-width: 768px) {
            flex-grow: 1;
            flex-basis: 50%;
            flex-shrink: 1;
        }
        @media (min-width: 992px) {
            flex-grow: 1;
            flex-basis: 30%;
            flex-shrink: 1;
        }
        @media (min-width: 1200px) {
            flex-grow: 1;
            flex-basis: 20%;
            flex-shrink: 1;
        }
    }
}