._container{

    ._block{
        @media (max-width: 600px) {
        }
        @media (max-width: 900px) {
        }
        @media (min-width: 900px) {
        }
        box-sizing: border-box;
        border: 1px solid aquamarine;
        padding: 3%;
    }
}